@import '../components/generalStyling.scss';


img {
    width: 100%;
    @media (min-width: 992px) {
    width: 25%;
    }
}

.diagram {
    font-size: 40px;
    color: $dark-grey-color;
}

p {
    a {
        color: $black-color;
    }
}