@import '../components/generalStyling.scss';


.instagramFeed {
    width: 90%;
    overflow: hidden;
    border: none;
    height: 1100px;
    @media (min-width: $tablet-breakpoint) {
        height: 3650px;
        margin-bottom: 60px;
    }
}


.bannerCalsy {
    width: 50%;
    @media (min-width: $tablet-breakpoint) {
    width: 80%;
    }
}



.latestWork {
    position: absolute;
    top: 100%;
    left: 23%;
    color: $white-color;
    font-size: 16px;
    @media (min-width: $tablet-breakpoint) {
        top: 85%;
        left: 25%;
        font-size: 32px;
    }
}


#landing-header {
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 1%;
    @media (min-width: $tablet-breakpoint) {
        top: 20%;
    left: 1%;
    }
  }
  
  #landing-header h1 {
    color: #fff;
  }
  
  .slideshow { 
    position: absolute;
    width: 90%;
    height: auto;
    top: 12%;
    left: 5%;
  /* put bacgkround images behind text	 */
    z-index: 0; 
    list-style: none;
    margin: 0;
    padding: 0;
    @media (min-width: $tablet-breakpoint) {
        top: 9%;
      left: 5%;
      }

      @media (min-width: $desktop-breakpoint) {
        top: 12%;
      left: 5%;
    }
    
  }

  .slideBackground {
      position: absolute;
      width: 90%;
      height: 300px;
      background-color: rgba(22, 22, 22, 0.8);
      top: 12%;
      left: 5%;
      @media (min-width: $tablet-breakpoint) {
        top: 9%;
      left: 5%;
      height: 450px
      }

      @media (min-width: $desktop-breakpoint) {
        top: 12%;
      left: 5%;
      height: 450px
    }
  }
  
  .slideshow li {
  

      position: absolute; 
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -1;
    animation: imageAnimation 50s linear infinite;
    @media (min-width: $tablet-breakpoint) {
        height: 450px
    } 

    

    
    
  }
  
  .slideshow li:nth-child(1) { 
    background-image: url(https://i.imgur.com/m0NOLdm.jpg) 
  }
  .slideshow li:nth-child(2) { 
    background-image: url(https://i.imgur.com/3p1pa4j.jpg);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(https://i.imgur.com/rBRXWUD.jpg);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(https://i.imgur.com/BRdrjOF.jpg);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
    animation-delay: 40s; 
  }

  .slideshow li:nth-child(6) {
      background-color: $grey-color;
      z-index: -2;
  }
  
  @keyframes imageAnimation { 
    0% { 
      opacity: 1; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 0;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 0
    }
    30% {
      opacity: 1
    }
  }

  @keyframes calsyAnimation {
      0% {
          opacity: 1;
      }

      1% {
          opacity: 0;
      }
  }

  .buttonContainer {
    margin-top: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    
    justify-content: space-between;
    @media (min-width: $tablet-breakpoint) {
        flex-direction: row;
    margin-top: 540px;

    }

    @media (min-width: $desktop-breakpoint) {
        margin-top: 490px;
    }
  }

  .optionButton {
    border-radius: 5px;
    width: 100%;
    height: 50px;
    border: none;
    margin: 5px 0;
    background-color: $grey-color;
    font-size: 16px;
    a {
    color: $dark-grey-color;
text-decoration: none;
    }
    @media (min-width: $tablet-breakpoint) {
        width: 30%;
        margin: 0;
        font-size: 32px;
    height: 80px;

    }
    
  }


  .secondaryHeading.recentWork {
      margin-top: 30px;
  }

  .servicesButton:hover {
    border: 5px solid $red-color;
    transition-duration: 0.5s;
      a{
      color: $red-color;
      transition-duration: 0.5s;
      }
  }

  .aboutButton:hover {
    border: 5px solid $blue-color;
    transition-duration: 0.5s;
    a{
    color: $blue-color;
transition-duration: 0.5s;
    }

}

.contactButton:hover {
    border: 5px solid $yellow-color;
    transition-duration: 0.5s;
    a{
    color: $yellow-color;
    transition-duration: 0.5s;
        
    }

}