@import '../components/generalStyling.scss';
.phoneHeading {
    @media (min-width: 992px) {
        display: none;
    }
}

.servicesGrid {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 0px 2px 5px 0px rgba(186,186,186,1);
  background-color: $grey-color;
    width: 90%;
    color: $black-color;
    margin-top: 30px;
    padding: 0 30px;
    @media (min-width: 992px) {
    width: 90%;
    }
}

.servicesCircle {
    img {
        width: 100%;
    }
width: 100%;
@media (min-width: 992px) {
    width: 30%;
}
}



// .servicesRow {
//     align-items: center;
//     display: flex;
//     justify-content: space-evenly;
// }
