@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

$blue-color: #2d81bd;
$yellow-color: #fedd43;
// $red-color: #ad234c;
$red-color: #cc2e8a;
$black-color: #0d0d0f;
$white-color: #f6f6f6;
$grey-color: rgb(75, 75, 75);
$grey-color2: rgba(242, 239, 239, 0.9);

$dark-grey-color: #a9abae;


$phone-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1025px;
$large-desktop-breakpoint: 1200px; 

$common-margin: 0 6%;
$common-padding: 2% 6%;

.heading {
    margin: 0;
    font-size: 40px;
    color: $white-color;
    @media (min-width: $tablet-breakpoint) {
        font-size: 70px;
        font-weight: normal;
    }
}

body {
    background-image: url("https://i.imgur.com/ER4ffYl.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  
}



.heading2 {
    margin: 0;
    position: absolute;
    top: 40%;
    font-size: 40px;
    color: white;
    @media (min-width: $tablet-breakpoint) {
        font-size: 70px;
        font-weight: normal;
        top: 45%;
    }
}

.intro {
    position: absolute;
    top: 42%;
    
    color: $white-color;
    line-height: 2;
    font-size: 20px;
    @media (min-width: $tablet-breakpoint) {
        top: 60%;
    }
}
.margin {
    margin: $common-margin;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    line-height: 1.5;
}

main {
    margin-top: 70px;
}

.secondaryHeading {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
justify-content: center;
    
}

.section2 {

    height: auto;
    
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      color: $black-color;
      margin-top: 30px;
      padding: 0 30px;
      @media (min-width: 992px) {
      width: 90%;
      flex-direction: row;
      }

      
  }

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section1 {
  box-shadow: 0px 2px 5px 0px rgba(186,186,186,1);
  background-color: $grey-color2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 90%;
    color: $black-color;
    margin-top: 30px;
    padding: 30px 30px;
    border-radius: 2px;
    @media (min-width: 992px) {
    width: 90%;
    }
    h2 {
        margin-bottom: 10px;
    }

    p {
        margin: 0;
    }
}

.whoAreWe {
    margin-top: 0;
}

.section3 {
    @media (min-width: 992px) {
    display: flex;
    justify-content: center;
    align-items: center;
    .connorCircle {
        width: 30%;
    }
    }
}

.section4 {
    box-shadow: 0px 2px 5px 0px rgba(186,186,186,1);
    background-color: $grey-color2;
    
    padding: 30px 30px;
    h2 {
        margin-bottom: 10px;
    }

    p {
        margin: 0;
    }
      width: 90%;
      color: $black-color;
      border-radius: 2px;
      @media (min-width: 992px) {
      width: 90%;
      margin-top: 30px;
      }
     
  }

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    overflow: hidden;
    margin-top: 10px;
    
    @media (min-width: 992px) {
        flex-wrap: nowrap;
        width: 90%;
    }

    img {
        width: 95%;
    }
}

.postHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 26px;
    text-align: center;
    @media (min-width: $tablet-breakpoint) {
        font-size: 20px;
        height: 30px;
    }
}

.postDate {
    width: auto;
        text-align: center;
    display: none;
    @media (min-width: $tablet-breakpoint) {
        display: inline;
    }
}


.phoneHeading2 {
    h2 {
        margin-bottom: 0px;
    }
    margin-top: 20px;
    margin-bottom: 0px;
    @media (min-width: 992px) {
        display: none;
    }
}

.galleryContainer {
    width: 90%;
    justify-content: space-between;
}

.signageSubheading {
    padding-bottom: 30px;
}

.twoGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 992px) {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    }
}

.oneGrid {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    @media (min-width: 992px) {
    width: 40%;
    }
}

.impact {
    margin-top: 5%;
    width: 90%;
}