@import './generalStyling.scss';

.headerContainer {
    background-color: $grey-color;
   
}

.headerImg {
    // margin-left: 5%;
    width: 100%;
    @media (min-width: 992px) {
        width: 40%;
        position: absolute;
        left: 2%;
        top: -10%;
    }
}

.logo {
    
    height: 250px;
    width: 100%;
   
    background-color: $grey-color;
    @media (min-width: $tablet-breakpoint) {
        width: 50%;
        display: flex;
        align-items: center;
    }
    @media (min-width: 992px) {
        height: 225px;
    }
    
}