@import './generalStyling.scss';

img {
    width: 100%;
    @media (min-width: 992px) {
        width: 40%;
        position: absolute;
        left: 2%;
        top: -15%;
    }
}

.logo {
    display: flex;
    justify-content: center;
    background-color: $grey-color;
    @media (min-width: 992px) {
        height: 250px;
    }
    
}